@model Obligatorio2023.Models.Alarma

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alarma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="dato">Dato a evaluar:</label>
                <select class="form-control" id="dato" asp-for="DatoEvaluar">
                    <option value="PresionSistolica">Presión Sistólica</option>
                    <option value="PresionDiastolica">Presión Diastólica</option>
                    <option value="Temperatura">Temperatura</option>
                    <option value="SaturacionOxigeno">SpO2 (Saturación Oxígeno)</option>
                    <option value="Pulso">Pulso</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ValorLimite" class="control-label"></label>
                <input asp-for="ValorLimite" class="form-control" />
                <span asp-validation-for="ValorLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="comparador">Comparador:</label>
                <select class="form-control" id="comparador" asp-for="Comparador">
                    <option value="Mayor">Mayor</option>
                    <option value="Menor">Menor</option>
                    <option value="Igual">Igual</option>
                    <option value="MayorIgual">Mayor o Igual</option>
                    <option value="MenorIgual">Menor o Igual</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

