@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Obligatorio2023.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        var loggeado = !(ViewContext.RouteData.Values["controller"].ToString().Equals("Sessions") &&
            ViewContext.RouteData.Values["action"].ToString().Equals("Login"));
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-4 pb-3 pt-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hospital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        @if (User.IsInRole("Administrador") || User.IsInRole("Medico"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dispositivos" asp-action="Create">Alta Dispositivos</a>
                            </li>
                        }
                        @if(loggeado){
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dispositivos" asp-action="Index">Listado Dispositivos</a>
                            </li>
                        }
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Roles
                                </button>
                                <ul class="dropdown-menu dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="UAdministradores" asp-action="Index">Administradores</a></li>
                                    <li><a class="dropdown-item" asp-controller="UMedicos" asp-action="Index">Medicos</a></li>
                                    <li><a class="dropdown-item" asp-controller="UPacientes" asp-action="Index">Pacientes</a></li>
                                </ul>
                            </li>
                     @*       <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Base de Datos
                                </button>
                                <ul class="dropdown-menu dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Dispositivos" asp-action="DispositivoUsado">Dispositivos Usados</a></li>
                                   
                                </ul>
                            </li>*@
                        }

                    </ul>
                    @if (loggeado)
                    {
                        <a class="text-uppercase text-white">@User.Identity.Name</a>
                        <a class="nav-link text-white" asp-area="" asp-controller="Sessions" asp-action="LogOut">Cerrar Sesion</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
