@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>R-12 , RBD-09
Visualizar las alarmas generadas en el día actual ordenadas de forma ascendente mostrando los
datos del paciente y dispositivo vinculado. Permitir poder filtrar por médico.
Solo podrán acceder a estos datos los administradores o los médicos, los médicos solo podrán ver las
alarmas de los dispositivos que fueron creados por ellos.
Debe utilizar ADO.Net y SQL para realizarlo.
</h2>